AdminSysWeb/App_WebReferences/wsSIGESAdminSysWCF/wAdminSysWCF2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sigesorvonton/SIGESDataretrieval/wAdminSysWCF.svc?xsd=xsd2" namespace="NominaPpR_POCO" />
  <xs:element name="Arbol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObjetoInicial" type="xs:int" />
        <xs:element minOccurs="0" name="PoolSistema" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArbolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="NominaPpR_POCO" minOccurs="0" name="ArbolResult" nillable="true" type="q1:ArrayOfclsObjetoPoco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObjetosJerarquiaDS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObjetoInicial" type="xs:int" />
        <xs:element minOccurs="0" name="PoolSistema" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObjetosJerarquiaDSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObjetosJerarquiaDSResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>