AdminSysWeb/App_WebReferences/wsSIGESAdminSysWCF/wAdminSysWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="wAdminSysWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="SIGEStcpBinding_IAdminSysWCFF_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://sigesorvonton/SIGESDataretrieval/wAdminSysWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://sigesorvonton/SIGESDataretrieval/wAdminSysWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://sigesorvonton/SIGESDataretrieval/wAdminSysWCF.svc?xsd=xsd2" namespace="NominaPpR_POCO" />
      <xsd:import schemaLocation="http://sigesorvonton/SIGESDataretrieval/wAdminSysWCF.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdminSysWCF_Arbol_InputMessage">
    <wsdl:part name="parameters" element="tns:Arbol" />
  </wsdl:message>
  <wsdl:message name="IAdminSysWCF_Arbol_OutputMessage">
    <wsdl:part name="parameters" element="tns:ArbolResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminSysWCF_ObjetosJerarquiaDS_InputMessage">
    <wsdl:part name="parameters" element="tns:ObjetosJerarquiaDS" />
  </wsdl:message>
  <wsdl:message name="IAdminSysWCF_ObjetosJerarquiaDS_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObjetosJerarquiaDSResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdminSysWCF">
    <wsdl:operation name="Arbol">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminSysWCF/Arbol" message="tns:IAdminSysWCF_Arbol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminSysWCF/ArbolResponse" message="tns:IAdminSysWCF_Arbol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObjetosJerarquiaDS">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminSysWCF/ObjetosJerarquiaDS" message="tns:IAdminSysWCF_ObjetosJerarquiaDS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminSysWCF/ObjetosJerarquiaDSResponse" message="tns:IAdminSysWCF_ObjetosJerarquiaDS_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAdminSysWCF" type="tns:IAdminSysWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Arbol">
      <soap:operation soapAction="http://tempuri.org/IAdminSysWCF/Arbol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObjetosJerarquiaDS">
      <soap:operation soapAction="http://tempuri.org/IAdminSysWCF/ObjetosJerarquiaDS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SIGEStcpBinding_IAdminSysWCFF" type="tns:IAdminSysWCF">
    <wsp:PolicyReference URI="#SIGEStcpBinding_IAdminSysWCFF_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Arbol">
      <soap12:operation soapAction="http://tempuri.org/IAdminSysWCF/Arbol" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObjetosJerarquiaDS">
      <soap12:operation soapAction="http://tempuri.org/IAdminSysWCF/ObjetosJerarquiaDS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wAdminSysWCF">
    <wsdl:port name="BasicHttpBinding_IAdminSysWCF" binding="tns:BasicHttpBinding_IAdminSysWCF">
      <soap:address location="http://sigesorvonton/SIGESDataretrieval/wAdminSysWCF.svc" />
    </wsdl:port>
    <wsdl:port name="SIGEStcpBinding_IAdminSysWCFF" binding="tns:SIGEStcpBinding_IAdminSysWCFF">
      <soap12:address location="net.tcp://dti-masturiasl.minfin.di.gobierno/SIGESDataretrieval/wAdminSysWCF.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://dti-masturiasl.minfin.di.gobierno/SIGESDataretrieval/wAdminSysWCF.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>