AdminSysWeb/App_WebReferences/wsSIGES/DataRetrievalWCF6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="POCO" elementFormDefault="qualified" targetNamespace="POCO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sigesorvonton/SIGESDataRetrieval/DataRetrievalWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="clsSeguimientoAnotacionRank">
    <xs:sequence>
      <xs:element name="Items" nillable="true" type="tns:ArrayOfclsSeguimientoAnotacion" />
      <xs:element name="TotalItems" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsSeguimientoAnotacionRank" nillable="true" type="tns:clsSeguimientoAnotacionRank" />
  <xs:complexType name="ArrayOfclsSeguimientoAnotacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsSeguimientoAnotacion" nillable="true" type="tns:clsSeguimientoAnotacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsSeguimientoAnotacion" nillable="true" type="tns:ArrayOfclsSeguimientoAnotacion" />
  <xs:complexType name="clsSeguimientoAnotacion">
    <xs:sequence>
      <xs:element name="Accion" nillable="true" type="xs:string" />
      <xs:element name="Anotacion" nillable="true" type="xs:string" />
      <xs:element name="Etapa" nillable="true" type="xs:string" />
      <xs:element name="Fecha" type="xs:dateTime" />
      <xs:element name="Proceso" nillable="true" type="xs:string" />
      <xs:element name="TipoGestion" type="tns:TipoGestion" />
      <xs:element name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsSeguimientoAnotacion" nillable="true" type="tns:clsSeguimientoAnotacion" />
  <xs:simpleType name="TipoGestion">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BS">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CDP">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CTR">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="EG">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="EPR">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FID">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FPR">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="JES">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NOM">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="OC">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PC">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">11</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SNIP">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">12</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NPR">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">13</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoGestion" nillable="true" type="tns:TipoGestion" />
</xs:schema>